<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TicketSphere</title>
    <link rel="stylesheet" href="/HeaderAndGeneral.css">
    <link rel="stylesheet" href="/Detail.css">
</head>
<body>
    <div class="headertop">
        <header>
            <h1><a href="/web" class ="home">TicketSphere</a></h1>
        </header>
    </div>
    <div class="container">
        <h2>Perfil de: {{user.username}}</h2>
        <div class="futureEvents">
            <h2> Mis próximos eventos:</h2>
            <ul>
                {{#events}}
                    <li>

                    </li>
                {{/events}}
            </ul>
            <!-- Array with the list of events the user goes to -->
            <div class="details-user">
                <p>Nombre de usuario: {{user.username}}</p>
                <p>Email: {{user.email}}</p>
                <p>Nombre: {{user.firstName}}</p>
                <p>Apellidos: {{user.lastName}}</p>
                <p>Fecha de nacimiento: {{user.birthdate}}</p>
                <p>Género: {{user.gender}}</p>
            </div>
        </div>
    </div>
    <div class="options">
        <a href="/web/editUser/{{user.id}}" class="button">Editar Usuario</a>
        <a href="/web/deleteUser/{{user.id}}" onclick="return confirm('¿Estás seguro de querer eliminar tu perfil de usuario?');" class="button">Eliminar usuario</a>
        <!-- Link to see the events that user goes to -->
        <a href="/web" class="button">Volver atrás</a>
    </div>
</body>
</html>