<!DOCTYPE html>
<html lang="es">
<head>
    <title>TicketSphere</title>
    <link rel="stylesheet" href="/HeaderAndGeneral.css">
    <link rel="stylesheet" href="/MainScreen.css">
</head>
<body>
    <div class="content">
        <div class="headertop">
            <header>
                <h1><a href="/web" class="home">TicketSphere</a></h1>
                <div class="options">
                    <a href="/web/userDetails/{{user.id}}" class="button">Mi perfil</a>
                    <a href="/web" class="button">Cerrar sesión</a>
                </div>
            </header>
        </div>
        <div class="container">
            <h2>¡BIENVENIDO!</h2>
            <div class="options-medium">
                <h3>Elige una opción</h3>
                <a href="/web/listEvent">Ver listado de eventos</a><br>
                <a href="/web/listLocation">Ver listado de localizaciones</a>
            </div>
        </div>
    </div>
</body>
</html>